@using ViewModel.Models
@model List<User>

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
    </head>
    <body>
        <h1>Here are some Users!</h1>
        @foreach (User user in Model)
        {
            <p>@user.FirstName @user.LastName</p>         
        }

        
    </body>
</html>

